{% extends "plumbing/base_tmpl.html" %}

{% block title %}Their favorite colours{% end %}

{% block header %}<h1>Their favorite colours</h1>{% end %}

{% block content %}
	<div class="row">
		<ul class="nav nav-pills nav-stacked span4" 
			data-bind="foreach:model.colours">
			<li data-bind="css:{active:$root.model.selected_colour() == $data[1]}">
				<a href="#" data-bind="click:function(){$root.model.selected_colour($data[1]);}">
					<span class="badge" data-bind="text:$data[2] || 0,click:$root.wrap('vote',null,$data[1])"></span>
					<span data-bind="text:$data[1]"></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="input-append">
	  		<input type="text" name="colour" 
	  			   data-bind="value:model.colour_entry,
	  			   			  event:{keyup: $root.default_key($root.wrap('add_colour_btn'))}" 
	  			   autofocus="autofocus" />
	  		<button class="btn" data-bind="click:$root.wrap('add_colour_btn')">
	  			Add
	  		</button>
		</div>
	</div>
{% end %}