<div class="row">
	<ul class="nav nav-pills nav-stacked span2" 
		data-bind="foreach:model.colours">
		<li>
			<a href="#" data-bind="click:$root.wrap('vote',null,$data[1])">
				<span class="badge" data-bind="text:$data[2] || 0"></span>
				<span data-bind="text:$data[1]"></span>
			</a>
		</li>
	</ul>
</div>
<div class="row">
	<div class="input-append">
  		<input type="text" name="colour" 
  			   data-bind="value:model.colour_entry,
  			   			  event:{keyup: $root.default_key($root.wrap('add_colour_btn'))}" 
  			   autofocus="autofocus" />
  		<button class="btn" data-bind="click:$root.wrap('add_colour_btn')">
  			Add
  		</button>
	</div>
</div>