{% import json %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Editor</title>
	<link rel="shortcut icon" href="{{ static_url('logo.png') }}" type="image/x-icon" />
	<link href="{{ static_url('libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<style type="text/css">
/** collapsing menu compensation **/
@media (max-width: 979px) {
	.top-padding-block{
		height:0px;
	}
}
@media (min-width: 980px) {
	.top-padding-block{
		height:60px;
	}
}
</style>
	{% block header %}{% end %}
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Editor</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li {%if page_name=='pages'%}class="active"{% end %}><a href="/page/-/edit-html">Pages</a></li>
              <li {%if page_name=='users'%}class="active"{% end %}><a href="/users">Users</a></li>
              <li><a href="/page/">Public</a></li>
            </ul>
            <ul class="nav pull-right">
			  <li>
			    <a href="/login?action=logout">Logout</a>
			  </li>
			</ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="top-padding-block"></div>

	<div class="container">
		<div class="row-fluid">
			{% block editor %}{% end %}
		</div>
	</div>
	<script type="text/javascript" src="{{ static_url('libs/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('libs/bootstrap/js/bootstrap.min.js') }}"></script>
	{% block footer %}{% end %}
</body>
</html>
